@import "tailwindcss";

body {
    background-color: black;
    cursor: none !important;
}

*::selection {
    background: white;
    color: black;
}

iframe, video {
    cursor: none !important;
}

* {
    cursor: none !important;
}